* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}